{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="medium-6 columns">
            <h4>Welcome to Beer Brewery Locator!</h4>
            <img class="thumbnail" src="{{ asset('images/attractions.jpg') }}">
        </div>
    </div>

    <div class="row">
        <h4>Enter Postcode</h4>

        <div class="pull-left">
            {{ form_start(form, { attr: { class: 'form-inline' } }) }}
                {{ form_widget(form.zipcode, { attr : { placeholder: 'Postcode' }}) }}
            <button type="submit" class="btn btn-default">Find</button>
                {{ form_errors(form.zipcode) }}
            {{ form_end(form) }}
            <br>
        </div>

    </div>

{% endblock %}

