{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="medium-12 large-12 columns">
            <h4>Breweries</h4>

            <table class="stack">
                <thead>
                <tr>
                    <th width="200">Name</th>
                    <th width="200">Address</th>
                    <th width="200">Zipcode</th>
                    <th width="200">City</th>
                    <th width="200">Days Open</th>
                </tr>
                </thead>
                <tbody>
                {% for brewery in breweries %}
                    <tr>
                        <td>{{ brewery.name}}</td>
                        <td>{{ brewery.address }}</td>
                        <td>{{ brewery.zipcode }}</td>
                        <td>{{ brewery.city }}</td>
                        <td>{{ brewery.open }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}